<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.longboardlife"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name="com.theredspy15.longboardlife.utils.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThaneLocker">

        <service
            android:name="com.theredspy15.longboardlife.utils.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.AchievementsActivity"
            android:label="Edit Profile"
            android:parentActivityName="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ThaneLocker"
            android:exported="true" />
        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.EditProfileActivity"
            android:exported="true"
            android:label="Edit Profile"
            android:parentActivityName="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ThaneLocker" />
        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.SessionActivity"
            android:exported="true"
            android:label="SessionActivity"
            android:parentActivityName="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ThaneLocker.NoActionBar" />
        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.BoardActivity"
            android:exported="true"
            android:label="@string/title_activity_board"
            android:parentActivityName="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ThaneLocker.NoActionBar" />
        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.NewBoardActivity"
            android:exported="true"
            android:label="Create Board"
            android:parentActivityName="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ThaneLocker" />
        <activity
            android:name="com.theredspy15.longboardlife.ui.activitycontrollers.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>